.skinDisplayDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.2em;
    justify-content: center;
}

.page {
    display: flex;
    justify-content: space-between;
}

.valorantWeapons {
    display: flex;
    flex-direction: column;
    background-color: rgba(44, 65, 100, 0.4);
}

.pageButtonsDiv {
    margin: 2em;
}

.pageButton {
    height: 2.8em;
    width: 4em;
    margin-left: 4px;
    background-color: #db2130;
    border: 2px solid #0f1724;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.pageButton:disabled {
    display: none;
}

.pageButton:hover {
    background-color: #e73b49;
    border: 1px solid white;
}