.pagesDivContainer {
    background-image: url(valorant-app-background.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100vh;
}

@media only screen and (max-width: 400px) {
    .pagesDivContainer {
        justify-content: space;
    }

    .pagesDiv {
        margin: 0 0 0 0;
    }
}

.pagesDiv {
    height: 5em;
    width: 12em;
    background-color: #bd2b38;
    display: flex;
    justify-content: center;
    margin-left: 4em;
    margin-right: 4em;
    cursor: pointer;
    border-radius: 0 25px 0 10px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.pagesDiv:hover {
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.8);
    background-color: #cd3340;
}

h1 {
    margin: auto;
    font: sans-serif;
}