.pagesDivContainer {
    background-image: url(valorant-app-background.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    /* height: 100%; */
}

@media only screen and (max-height: 1000px) {
    .pagesDiv {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

.pagesDiv {
    height: 9em;
    width: 13em;
    background-color: #bd2b38;
    display: flex;
    justify-content: center;
    margin-left: 4em;
    margin-right: 4em;
    cursor: pointer;
    border-radius: 0 25px 0 10px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.pagesDiv:hover {
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.8);
    background-color: #cd3340;
}

h1 {
    margin: auto;
    font: sans-serif;
}